@font-face {
    font-family: 'Existence';
    src: url('Existence-Light.woff2') format('woff2'),
        url('Existence-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

