@font-face {
    font-family: 'Simplifica';
    src: url('Simplifica.woff2') format('woff2'),
        url('Simplifica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

